.hero {
  padding: 118px 60px;
  @media screen and (min-width: 1200px) {
    padding: 200px;
  }
  margin: 0 auto;
  background-color: var(--hero-background);
  text-align: center;
}

.hero--background {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/Главная_страница/hero-mobile.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../images/Главная_страница/hero-mobile-2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../images/Главная_страница/hero-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/Главная_страница/hero-tablet-2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../images/Главная_страница/hero-img.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/Главная_страница/hero-img-2x.jpg");
    }
  }

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--text-on-dark-background);
  @include font(900, 26px, 1.62);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.36);
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
