// $primary-text-color: #212121;
// $secondery-text-color: #757575;
// $text-logo-one: #2196f3;
// $text-logo-two: #000000;
// $text-logo-three: #ffffff;
// $link-active: #2196f3;
// $text-on-dark-background: #ffffff;
// $primary-background: #ffffff;
// $dark-background: #2f303a;
// $grey-background: #f5f4fa;
// $header-background: #ffffff;
// $button-background: #f5f4fa;
// $hero-background: #c4c4c4;
// $icon-color: #afb1b8;

:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --text-logo-one: #2196f3;
  --text-logo-two: #000000;
  --text-logo-three: #ffffff;
  --link-active: #2196f3;
  --text-on-dark-background: #ffffff;
  --primary-background: #ffffff;
  --dark-background: #2f303a;
  --grey-background: #f5f4fa;
  --header-background: #ffffff;
  --button-background: #f5f4fa;
  --hero-background: #c4c4c4;
  --icon-color: #afb1b8;
}
